h1{
    color: aqua;
    padding-left: 45px;
    border: 60px;
}
h2{
    padding-left: 85px;
    border: 60px;
}
p{
    color: blue;
    padding-left: 45px;
    border: 45px;
}
td,label,th{
    padding-left: 45px;
    border: 45px;
}
button{
    /* padding-left: 45px; */
    margin-left: 300px;
}
#email{
    margin-left: 100px;
}
#psw{
    margin-left: 75px;
}
#psw-repeat{
    margin-left:25px;
}